# Try to  finding tweets that include ’strong sentiment’ directed at particular countries or national groups

1.Data Integration

2.Identify keywords

3.Try to see what tweets are in specific countries.

4.Try to find negative tweets by dictionary matching.

In [15]:
import pandas as pd
import numpy as np
import nltk
import matplotlib.pyplot as plt
import os

In [16]:
os.chdir(r'D:\dataset\clear_data')

In [17]:
text_01_mining = pd.read_csv('text_01_mining.csv',usecols=['tweet_id','text','word'])
text_03mid_mining = pd.read_csv('text_03mid_mining.csv',usecols=['tweet_id','text','word'])
text_03_04_mining = pd.read_csv('text_03_04_mining.csv',usecols=['tweet_id','text','word'])
text_06_mining = pd.read_csv('text_06_mining.csv',usecols=['tweet_id','text','word'])
text_07_mining = pd.read_csv('text_07_mining.csv',usecols=['tweet_id','text','word'])

In [19]:
tweet_01 = pd.read_csv('data_01.csv',usecols=['text','date','user_location'])
tweet_03mid = pd.read_csv('data_03mid.csv',usecols=['text','date','user_location'])
tweet_03_04 = pd.read_csv('data_03_04.csv',usecols=['text','date','user_location'])
tweet_06 = pd.read_csv('data_06.csv',usecols=['text','date','user_location'])
tweet_07 = pd.read_csv('data_07.csv',usecols=['text','date','user_location'])

In [20]:
print(len(tweet_01),len(tweet_03mid),len(tweet_03_04),len(tweet_06),len(tweet_07))

1477485 1352513 2442674 223042 5050203

In [21]:
tweet_01 = tweet_01.rename(columns={"text": "tweet"})
tweet_03mid = tweet_03mid.rename(columns={"text": "tweet"})
tweet_03_04 = tweet_03_04.rename(columns={"text": "tweet"})
tweet_06 = tweet_06.rename(columns={"text": "tweet"})
tweet_07 = tweet_07.rename(columns={"text": "tweet"})

In [22]:
text_01_mining = pd.concat([text_01_mining,tweet_01],axis = 1)
text_03mid_mining = pd.concat([text_03mid_mining,tweet_03mid],axis = 1)
text_03_04_mining = pd.concat([text_03_04_mining,tweet_03_04],axis = 1)
text_06_mining = pd.concat([text_06_mining,tweet_06],axis = 1)
text_07_mining = pd.concat([text_07_mining,tweet_07],axis = 1)

In [23]:
text_01_mining.text.isna().value_counts()

False    1477387
True          98
Name: text, dtype: int64

In [24]:
text_03mid_mining.text.isna().value_counts()

False    1352425
True          88
Name: text, dtype: int64

In [25]:
text_03_04_mining.text.isna().value_counts()

False    2442484
True         190
Name: text, dtype: int64

In [26]:
text_06_mining.text.isna().value_counts()

False    223027
True         15
Name: text, dtype: int64

In [29]:
text_07_mining.text.isna().value_counts()

False    5049668
Name: text, dtype: int64

In [28]:
text_01_mining.dropna(subset=['text'],inplace=True)

text_03mid_mining.dropna(subset=['text'],inplace=True)

text_03_04_mining.dropna(subset=['text'],inplace=True)

text_06_mining.dropna(subset=['text'],inplace=True)

text_07_mining.dropna(subset=['text'],inplace=True)

In [30]:
country = ['china','chinese','hong kong','taiwan',
           'coronavirus','covid-19','covid','new coronavirus','corona virus',
           'england','united kingdom','britain',
           'europe','eu countries','european union',
           'russia','russian',
           'mexico', 'south america',
           'america','united states',
           'middle east','iran']

In [31]:
pattern = '|'.join(country)
text_01_country = text_01_mining[text_01_mining['text'].str.contains(pattern, case=False)]

text_03mid_country = text_03mid_mining[text_03mid_mining['text'].str.contains(pattern, case=False)]

text_03_04_country = text_03_04_mining[text_03_04_mining['text'].str.contains(pattern, case=False)]

text_06_country = text_06_mining[text_06_mining['text'].str.contains(pattern, case=False)]

text_07_country = text_07_mining[text_07_mining['text'].str.contains(pattern, case=False)]

In [32]:
print(len(text_01_country),len(text_03mid_country),len(text_03_04_country),len(text_06_country),len(text_07_country))

265417 265957 584278 64620 718203

In [33]:
tweet_country = pd.concat([text_01_country,text_03mid_country,text_03_04_country,text_06_country,text_07_country],axis = 0,join = 'inner')

In [34]:
tweet_country  = tweet_country.reset_index(drop=True)

In [35]:
tweet_country

,tweet_id,text,word,tweet,user_location,date
0,1215055927264436224,allday anyone surprised ilhan omar sharing bra...,"['allday', 'anyone', 'surprised', 'ilhan', 'om...",RT @Louis_Allday: Anyone who is surprised that...,she/her,2020-01-08 23:41:22
1,1215055922634141697,good morning everyone except gladly spread ira...,"['good', 'morning', 'everyone', 'except', 'gla...",RT @catturd2: Good morning to everyone except ...,NaN,2020-01-08 23:41:21
2,1215055917747585024,indeed remarkable like remarkable example offi...,"['indeed', 'remarkable', 'like', 'remarkable',...","This is indeed remarkable, just like it's a re...",United States,2020-01-08 23:41:20
3,1215055918045548544,msnbc truly pathetic fake news medium outlet h...,"['msnbc', 'truly', 'pathetic', 'fake', 'news',...",RT @Jamierodr14: WOW! \n\nMSNBC is truly Pathe...,United States,2020-01-08 23:41:20
4,1215055921254227969,shot dark fizzle iran propaganda statement roc...,"['shot', 'dark', 'fizzle', 'iran', 'propaganda...",RT @thro_e: 😬 WHEN SHOTS IN THE DARK FIZZLE 😬\...,"Nashua, NH",2020-01-08 23:41:20
...,...,...,...,...,...,...
1898470,1285001509562773504,retweet real farm china botnetworks troll beha...,"['retweet', 'real', 'farm', 'china', 'botnetwo...",RT @DeepStateExpose: RETWEET! The real bot far...,NaN,2020-07-20 00:00:08
1898471,1285001495285506048,place amazing america full incredibly stupid w...,"['place', 'amazing', 'america', 'full', 'incre...",@BBCWorld It's so sad that a place as amazing ...,NaN,2020-07-20 00:00:05
1898472,1285001495285506048,place amazing america full incredibly stupid w...,"['place', 'amazing', 'america', 'full', 'incre...",@BBCWorld It's so sad that a place as amazing ...,NaN,2020-07-20 00:00:05
1898473,1285001477115666433,dive surface online information pattern corona...,"['dive', 'surface', 'online', 'information', '...",Dive under the surface of online information p...,Global,2020-07-20 00:00:00
1898474,1285001477115666433,dive surface online information pattern corona...,"['dive', 'surface', 'online', 'information', '...",Dive under the surface of online information p...,Global,2020-07-20 00:00:00

# So I changed my strategy and did not use machine learning methods. I did two keyword scanings, the first time I selected countries and hot topics, and the second time I used the terms of disinformation. The results obtained in this way may be better.

In [36]:
disinformation = ['Fake news','Propaganda','Disinformation','Active measures','Subversion','Interference',
'Influence','Conspiracy','Deep state','Misinformation','Fabrication','Manipulate','Deceive','Useful idiots',
'Mainstream media','Populism','Untrustworthy','Hoax','Made-up','Bogus','Inaccurate','Doctored','Fact Checking','eu False',
'eu Fraud','eu Hoax','eu Lies','eu Rumours','eu Troll','europe False','europe Fraud','europe Hoax','europe Lies',
'europe Rumours','europe Troll','european False','european Fraud','european Hoax','european Lies','european Rumours','european Troll']

In [37]:
pattern = '|'.join(disinformation)
tweet_country = tweet_country[tweet_country['text'].str.contains(pattern, case=False)]

In [38]:
print(len(tweet_country))

1712378

In [39]:
tweet_country.to_csv('tweet_country.csv',index = False)

In [64]:
tweet_country_text = pd.DataFrame(tweet_country['text'])

In [65]:
tweet_country_text.to_csv('tweet_country.txt', index=False, sep=" ")

# Use the sentiment toolkit to analyze the sentiment of each tweet
1.Reference:http://sentistrength.wlv.ac.uk/

2.Use the sentiment toolkit to analyze the sentiment of all tweet text(use tweet_country.txt)
(The tool already have an emotional dictionary)

3.Read new data after having sentiment tags

In [66]:
tweet_sentiment = pd.read_table('tweet_country+results.txt')

In [67]:
tweet_sentiment.head()

,text,Translation,Positive,Negative,EmotionRationale
0,allday anyone surprised ilhan omar sharing bra...,allday anyone surprised ilhan omar sharing bra...,1,-2,allday[0] anyone[0] surprised[0] ilhan[0] oma...
1,good morning everyone except gladly spread ira...,good morning everyone except gladly spread ira...,2,-2,good[1] morning[0] everyone[0] except[0] glad...
2,indeed remarkable like remarkable example offi...,indeed remarkable like remarkable example offi...,2,-2,indeed[0] remarkable[0] like[1] remarkable[0]...
3,msnbc truly pathetic fake news medium outlet h...,msnbc truly pathetic fake news medium outlet h...,2,-3,msnbc[0] truly[1] pathetic[-2] fake[-1] news[...
4,shot dark fizzle iran propaganda statement roc...,shot dark fizle iran propaganda statement rock...,1,-3,shot[-1] dark[0] fizzle/fizle[0] iran[0] prop...

In [68]:
tweet_sentiment['sentiment'] = tweet_sentiment.Positive + tweet_sentiment.Negative

In [69]:
tweet_sentiment.head()

,text,Translation,Positive,Negative,EmotionRationale,sentiment
0,allday anyone surprised ilhan omar sharing bra...,allday anyone surprised ilhan omar sharing bra...,1,-2,allday[0] anyone[0] surprised[0] ilhan[0] oma...,-1
1,good morning everyone except gladly spread ira...,good morning everyone except gladly spread ira...,2,-2,good[1] morning[0] everyone[0] except[0] glad...,0
2,indeed remarkable like remarkable example offi...,indeed remarkable like remarkable example offi...,2,-2,indeed[0] remarkable[0] like[1] remarkable[0]...,0
3,msnbc truly pathetic fake news medium outlet h...,msnbc truly pathetic fake news medium outlet h...,2,-3,msnbc[0] truly[1] pathetic[-2] fake[-1] news[...,-1
4,shot dark fizzle iran propaganda statement roc...,shot dark fizle iran propaganda statement rock...,1,-3,shot[-1] dark[0] fizzle/fizle[0] iran[0] prop...,-2

In [70]:
tweet_country = pd.read_csv('tweet_country.csv')
tweet_english_negative = pd.concat([tweet_country,tweet_sentiment.sentiment],axis = 1)

In [71]:
tweet_english_negative = tweet_english_negative[tweet_english_negative.sentiment < 0 ]

In [72]:
tweet_english_negative = tweet_english_negative.reset_index(drop = True)

In [73]:
tweet_english_negative.to_csv('tweet_english_negative.csv',index = False)

In [74]:
#Read the CSV file again for check 
tweet_english_negative = pd.read_csv('tweet_english_negative.csv')
tweet_english_negative

,tweet_id,text,word,tweet,user_location,date,sentiment
0,1215055927264436224,allday anyone surprised ilhan omar sharing bra...,"['allday', 'anyone', 'surprised', 'ilhan', 'om...",RT @Louis_Allday: Anyone who is surprised that...,she/her,2020-01-08 23:41:22,-1
1,1215055918045548544,msnbc truly pathetic fake news medium outlet h...,"['msnbc', 'truly', 'pathetic', 'fake', 'news',...",RT @Jamierodr14: WOW! \n\nMSNBC is truly Pathe...,United States,2020-01-08 23:41:20,-1
2,1215055921254227969,shot dark fizzle iran propaganda statement roc...,"['shot', 'dark', 'fizzle', 'iran', 'propaganda...",RT @thro_e: 😬 WHEN SHOTS IN THE DARK FIZZLE 😬\...,"Nashua, NH",2020-01-08 23:41:20,-2
3,1215055917227495424,fact checking trump address iran attack trump ...,"['fact', 'checking', 'trump', 'address', 'iran...",Fact-checking Trump’s address on the Iran atta...,NaN,2020-01-08 23:41:19,-2
4,1215055915520491520,iran claim killed american pentagon said zero ...,"['iran', 'claim', 'killed', 'american', 'penta...","RT @sxdoc: Iran claims it killed 30 Americans,...",UK,2020-01-08 23:41:19,-3
...,...,...,...,...,...,...,...
1287133,1285001512025051136,trump tonight coronavirus right world know wat...,"['trump', 'tonight', 'coronavirus', 'right', '...",RT @ddale8: Trump tonight on the coronavirus: ...,NaN,2020-07-20 00:00:09,-1
1287134,1285001495285506048,place amazing america full incredibly stupid w...,"['place', 'amazing', 'america', 'full', 'incre...",@BBCWorld It's so sad that a place as amazing ...,NaN,2020-07-20 00:00:05,-2
1287135,1285001495285506048,place amazing america full incredibly stupid w...,"['place', 'amazing', 'america', 'full', 'incre...",@BBCWorld It's so sad that a place as amazing ...,NaN,2020-07-20 00:00:05,-2
1287136,1285001477115666433,dive surface online information pattern corona...,"['dive', 'surface', 'online', 'information', '...",Dive under the surface of online information p...,Global,2020-07-20 00:00:00,-1
1287137,1285001477115666433,dive surface online information pattern corona...,"['dive', 'surface', 'online', 'information', '...",Dive under the surface of online information p...,Global,2020-07-20 00:00:00,-1